<%- include ('../includes/head.ejs')%>
    <%- include ('../includes/navbar.ejs')%>
        <%-include ('../includes/attendanceButton.ejs')%>

            <div class="card__leave">
                <h3 class="text-success text-center">Kết thúc: </h3>
                <hr/>
                <p class="attendace-info__text">
                    Thời gian làm việc hôm nay:
                    <%= timeWorked%> Giờ
                </p>
                <h3 class="attendace-info__title">Nhật ký:</h3>
                <ul class="attendace-info__list">
                    <% workedInDay.workTimeInDay.forEach(workTime=> {%>
                        <li class="attendace-info__item">
                            <p>Bắt Đầu:
                                <%=workTime.startTime.toLocaleString()%>
                            </p>
                            <p>
                                Nơi làm Việc:
                                <%= workTime.workPlace==='home' ? ' Nhà' : workTime.workPlace==='company'
                                    ? ' Công ty' : ' Khách Hàng' %>
                            </p>
                            <p>Kết thúc:
                                <%=workTime.endTime.toLocaleString()%>
                            </p>
                        </li>
                        <% })%>
                </ul>
            </div>
            </div>
            <%- include ('../includes/end.ejs')%>