<%- include ('../includes/head.ejs')%>
    <%- include ('../includes/navbar.ejs')%>
        <div class="form-leave__wrapper">
            <div class="form-leave">
                <%if (staff.annualLeave==0) { %>
                    <h2 class="form-leave__title">Bạn Đã Hết Số Ngày Nghỉ</h2>
                    <a href="/attendance" class="link-btn">Quay Lại</a>
            </div>
        </div>
        <% } else { %>
            <div class="card__leave">
                <form action="/attendance/leaveForm" method="POST" class="text-center">
                    <h3 class="text-success">Form đăng kí Nghỉ Phép</h3>
                    <hr/>
                    <div class="">
                        <label for="daysLeft">Số Ngày Nghỉ Còn Lại</label>
                        <input id="daysLeft" disabled class="form__leave" type="text" disabled value="<%=staff.annualLeave%>" />
                    </div>
                    <div class="">
                        <label for="daysLeave">Chọn Ngày Nghỉ</label>
                        <input class="form__leave" id="daysLeave" type="text" name="daysLeave" />
                    </div>
                    <div class="">
                        <label for="hoursLeave">Số Giờ Nghỉ (Tối Đa 8 Giờ) </label>
                        <input class="form__leave" id="hoursLeave" type="number" max="<%= staff.annualLeave <= 1 ? (staff.annualLeave / 8) : 8 %>" name="hoursLeave" />
                    </div>
                    <div class="">
                        <label for="reason">Lý Do</label>
                        <textarea class="form__leave" id="reason" name="reason" cols="40" rows="2"></textarea>
                    </div>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="btn" type="submit">Gửi</button>
                </form>
            </div>
            <%}%>
                </div>
                </div>

                <%- include ('../includes/end.ejs')%>