<%- include ('../includes/head.ejs')%>
    <%- include ('../includes/navbar.ejs')%>
        <div class="card__covid text-center">
            <h3 class="text-center text-danger">Khai báo thông tin covid</h3>
            <hr/>
            <div class="form-group">
                <form action="/covidDetail/temperature" method="POST">
                    <label for="temperature">Nhiệt độ</label>
                    <input class="form__leave" id="temperature" name="temperature" step="0.01" type="number">

                    <label for="timeOfTemperature">Giờ Đo </label>
                    <input class="form__leave" id="timeOfTemperature" name="timeOfTemperature" type="time">

                    <label for="dateOfTemperature">Ngày Đo </label>
                    <input class="form__leave" id="dateOfTemperature" name="dateOfTemperature" type="date">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button type="submit" class="btn__covid">Đăng Ký</button>
                </form>
                <hr/>
            </div>
            <div class="form-group">
                <form class="row" action="/covidDetail/injection" method="POST">
                    <div class="col-12 col-md-6 card">
                        <label for="nameOfFirstVaccine">Tên vaccine (Mũi 1)</label>
                        <input class="form__leave" id="nameOfFirstVaccine" name="nameOfFirstVaccine" type="text">
                        <label for="dateOfFirstVaccine">Ngày tiêm</label>
                        <input class="form__leave" id="dateOfFirstVaccine" name="dateOfFirstVaccine" type="date">
                    </div>
                    <div class="col-12 col-md-6 card">
                        <label for="nameOfSecondVaccine">Tên vaccine (Mũi 2)</label>
                        <input class="form__leave" id="nameOfSecondVaccine" name="nameOfSecondVaccine" type="text">
                        <label for="dateOfSecondVaccine">Ngày tiêm</label>
                        <input class="form__leave" id="dateOfSecondVaccine" name="dateOfSecondVaccine" type="date">
                    </div>
                    <button type="submit" class="btn__covid m-auto">Đăng Ký</button>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                </form>
                <hr/>
            </div>
            <div class="form-group">
                <form action="/covidDetail/infect" method="POST">
                    <label for="infectDate">Ngày nhiễm covid</label>
                    <input class="form__leave" id="infectDate" name="infectDate" type="date">

                    <label for="recoverDate">Ngày khỏi bệnh</label>
                    <input class="form__leave" id="recoverDate" name="recoverDate" type="date">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="btn__covid" type="submit">Đăng Ký</button>
                </form>
                <hr/>
            </div>
        </div>
        <% if (role==='admin' ) { %>
            <div class="card__covid">
                <h3 class="text-success text-center">Chứng nhận ngừa COVID</h3>
                <hr/>
                <% staffs.forEach(staff=> {%>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Thân nhiệt</th>
                                <th>Vaccine (m1)</th>
                                <th>Ngày tiêm (m1)</th>
                                <th>Vaccine (m2)</th>
                                <th>Ngày tiêm (m2)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= staff.name%>
                                </td>
                                <td>
                                    <%=staff.bodyTemperature[0].temperature%>
                                </td>
                                <td>
                                    <%=staff.vaccineInfo[0].nameVaccine%>
                                </td>
                                <td>
                                    <%=staff.vaccineInfo[0].date.toLocaleString()%>
                                </td>
                                <td>
                                    <%=staff.vaccineInfo[1].nameVaccine%>
                                </td>
                                <td>
                                    <%=staff.vaccineInfo[1].date.toLocaleString()%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="" href="/covidDetail/<%=staff._id%>">Xuất Trang PDF</a>
                    <%})%>
            </div>
            <%}%>
                </div>
                <%- include ('../includes/end.ejs')%>